<%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="alert alert-danger" role="alert">
              <h4><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h4>

              <ul>
                <% @company.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>

    <% end %>

    <div class="input-group">
      <%= f.text_field :name, :class => 'form-control', :placeholder => 'Company Name' %>
    </div>

    <br/>

    <div class="input-group">
      <%= f.text_area :description, size: "60x12", :class => 'form-control', :placeholder => 'Description' %>
    </div>

    <br/>
    <div class="actions">
      <%= f.submit :class => 'btn btn-default' %>
    </div>
<% end %>
