<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <% if notice %>
      <div class="alert alert-success" role="alert"><%= notice %></div>
    <% end %>

    <% if alert %>
      <div class="alert alert-success" role="alert"><%= alert %></div>
    <% end %>
  </div>
  <div class="col-md-3"></div>
</div>