<!DOCTYPE html>
<html>
<head>
  <title>Bills</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<% if current_user %>
  <%= render partial: 'layouts/nav' %>
<% end %>


<% if notice or alert %>
  <%= render partial: 'layouts/flash_messages' %>
<% end %>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><%= yield %></div>
  <div class="col-md-1"></div>
</div>


</body>
</html>
